	/*
	99Lime.com HTML KickStart by Joshua Gatcke
	style.css

*/

/*---------------------------------
	IMPORTS
-----------------------------------*/
@import url(http://fonts.googleapis.com/css?family=Arimo:400,700);

/*---------------------------------
	OVERRIDES
-----------------------------------*/
h1,h2,h3,h4,h5,h6{
font-family: "Arimo", arial, verdana, sans-serif;
font-weight:normal;
}

thead th,
tbody th{
font-family: "Arimo", arial, verdana, sans-serif;
}

button,
a.btn,
input[type="submit"],
input[type="reset"],
input[type="button"]{
font-family: "Arimo", arial, verdana, sans-serif;
}

.menu{
font-family: "Arimo", arial, verdana, sans-serif;
}

blockquote{
font-family: "Arimo", arial, verdana, sans-serif;
}

p{
	padding-left:10px;
	padding-right:10px;
}

/*---------------------------------
	LAYOUT
-----------------------------------*/
body{
margin:0;
padding:0 0 0 0;
color:#000;
background:#efefef url(css/img/outline.png) repeat center top;
font:normal 0.9em/150% 'Arimo', arial, verdana, sans-serif;
text-shadow: 0 0 1px transparent; /* google font pixelation fix */
}

#wrap{
width:100%;
background:#fff;
margin:30px auto 30px auto;
padding:0 2%;
border:1px solid #ccc;
}


#footer{
text-align:center;
padding:20px;
margin:0;
border-top:1px solid #ddd;
color:#999;
font-size:0.8em;
text-shadow:0px 1px 1px #fff;
position: relative;
top:0;
left:0;
background:#fff;
}

	#link-top{
	display:none;
	}

/* NAV BAR*/
.navbar{
position:fixed;
top:0;
left:0;
width: 100%;
background:#000;
color:#fff;
z-index:1000;
}

	.navbar #logo{
	position:absolute;
	top:0;
	right:0;
	padding:0.5em 1em;
	font-size: 1.7em;
	color:#efefef;
	text-decoration:none;
	}

	.navbar span{
	color:#86dc00;
	}


	.navbar ul{
	display:inline-block;
	margin:0;
	padding:0;
	}

		.navbar li{
		margin:0;
		padding:0;
		list-style-type:0;
		display:inline-block;
		}

		.navbar li a{
		display:inline-block;
		color:#efefef;
		padding:1em 1.3em;
		text-decoration:none;
		text-transform: uppercase;
		line-height:100%;
		font-size: 1.2em;
		}

.callout{
background:#4598ef;/*#86dc00;*/
padding:3em 0;
color:#fff;
box-shadow:inset 0 0 10px rgba(0,0,0,0.2);
text-align: center;
text-shadow:0px 1px 3px rgba(0,0,0,0.2);
display:block;
}
	.callout + div.grid{margin-top:50px;}
	 a.callout{cursor:pointer;}
	 .callout i.icon-4x{font-size:6em;}
	 .callout h4{margin-bottom:30px;}
	 .callout-top{margin:50px 0 0 0;}
	 .callout p{margin-bottom:0;}
	 .callout .button{margin-top:10px;}
	 .callout.green{background:#19ad0b;/*#86dc00;*/}

#mc_embed_signup{
padding:30px 0;
}

#ui-preview{
border:5px solid #ddd;
margin:30px 0;
display:block;
}

#navmenu ul{
  float:left;
}

#navmenu li{
  display: inline-block;
}

.headline {
	text-align:center;
	background:#efefef url(css/img/green_cup.png) repeat center top;
	border-bottom: 1px solid #fff;
	margin-bottom: 0px;
}

.headline h1 {
	margin-bottom: 0;
	padding-top: 0;
	margin-top: 0;
	padding-bottom: 0;
}

.headline p {
	margin-top: 0;
	padding-bottom: 5px;
}

.news {
	border:2px solid #848482;
	border-radius: 5px;
	margin-left: 3%;
	margin-right: 3%;
	border-style: dotted;
}

.news p {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	text-align: justify;
}

.col_3 {
	background: #dfdfdf;
	padding: 3px 3px 3px 3px;
	border-radius: 5px;	
}
.col_3 h4 {
	text-align: center;
	margin-bottom: 0px;
}

.col_3 ol {
	text-align: center;
	list-style-position: inside;
}

.col_4 {
	background: #efefc8;
	padding: 3px 3px 3px 3px;
	border-radius: 5px;
}

.col_4 h4 {
	text-align: center;
	margin-bottom: 0px;
}

.col_4 ol {
	text-align: center;
	list-style-position: inside;
}

.col_6 {
	background: #efefc8;
	padding: 3px 3px 3px 3px;
	border-radius: 5px;
}

.col_6 h4 {
	text-align: center;
	margin-bottom: 0px;
}

.col_6 ol {
	text-align: center;
	list-style-position: inside;
}


.col_9 {
	background: #dfdfdf;
	padding: 3px 3px 3px 3px;
	border-radius: 5px;
}
.col_9 p {
	margin-left: 3%;
	margin-right: 3%;
}

.col_12 {
	background: #F5F5DC;
	padding: 3px 3px 3px 3px;
	border-radius: 5px;
}

.col_12 h3 {
	margin-left: 4%;
	margin-bottom: 0px;
}
.col_12 h4 {
	margin-left: 4%;
	margin-bottom: 0px;
}

.col_12 hr {
	margin-top: 0px;
	margin-bottom: 0px;
}

.item {
	background: #dfdfdf;
	margin-left: 2%;
	margin-right: 2%;
	margin-top: 5px;
	margin-bottom: 10px;
	border-radius: 10px;
	padding: 2% 3px 2% 2%;
}


.item hr {
	margin-top: 0px;
	margin-bottom: 0px;
}

.login {
	text-align: center;
}
.register {
	text-align: center;
}